Introduction to Python

In [1]:
print('Hello World')

Hello World

To know the version of python

In [2]:
import sys
print('Python version:', sys.version)

Python version: 3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]

Python Variables

Python has no command for variables for deciding a variable

In [3]:
x=5
y="John"
print(x)
print(y)

5
John

Comments in Python

In [6]:
# This is a comment
print("Comments in Python do not affect the code execution.")

Comments in Python do not affect the code execution.

Many Statments

The first statement is executed first (print "Hello World!").
Then the second statement is executed (print "Have a good day.").
And at last, the third statement is executed (print "Learning Python is fun!").

In [7]:
print("Hello World")
print("in multiple lines")
print("Learning Python is fun!")

Hello World
in multiple lines
Learning Python is fun!

Semicolons in Python are (Optional,Rarely used)

Semicolons are optional in Python. You can write multiple statements on one line by separating them with ; but this is rarely used because it makes it hard to read:

In [8]:
print("Hello"); print("World"); print("Beautiful")  # Multiple statements on one line using semicolon

Hello
World
Beautiful

However, if you put two statements on the same line without a separator (newline or ;), Python will give an error:

In [9]:
print("Hello World") print("Have a good day.")

SyntaxError: invalid syntax (2552546375.py, line 1)

Print Without a New Line
By default, the print() function ends with a new line.

If you want to print multiple words on the same line, you can use the end parameter:

In [10]:
print("Hello World!", end=" ")
print("I will print on the same line.")

Hello World! I will print on the same line.

Print Numbers
You can also use the print() function to display numbers:

However, unlike text, we don't put numbers inside double quotes:

In [11]:
print(2)
print(203)
print(2048)

2
203
2048

You can also do math inside the print()

In [12]:
print(2+3)
print(203*4)
print(210/21)

5
812
10.0

Mix Text and Numbers
You can combine text and numbers in one output by separating them with a comma:

In [13]:
print("I am", 35, "years old.")

I am 35 years old.

Variables

Variables are containers for storing data values

Creating Variables

In [15]:
x=5
y="John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set

In [17]:
x=4
x="Surya"
print(x)

Surya

Casting

If you want to specify the data type of a variable, this can be done with casting.

In [20]:
x= str(3)
y= int(3)
z= float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

Get the Type
You can get the data type of a variable with the type() function

In [21]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single Quotes or Double Quotes ?

String variables can be declared either by using single or double quotes:

In [22]:
x='Surya'
# both are valid
y= "Sasank"

print(x)
print(y)

Surya
Sasank

Case Sensitive

Variables names are case-sensitive.

In [23]:
a=4
A= "Sasank"
print(a)
print(A)

4
Sasank